@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Ephesis&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}

*::selection{
          color: #f8f8f8;
          background-color: #212125;
}

a{
          color: #212125;
          text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p{
          color: #212125;
}

html,body{
          height: 100%;
          background-color: #fff;
          width: 100%;
          font-family: "Poppins", sans-serif;
          scroll-behavior: smooth;
}

/* ******************************************************    */
/* ******************************************************    */
/* ******************************************************    */

.frame1 > .top{
          display: flex;
          /* background-color: #fff; */
          margin: 1vw;
          /* position: fixed; */
          /* background-color: #67676d; */
          justify-content: space-between;
}

.frame1 > .top > .left{
          display: flex;
         gap: 2vw;
          
}

.frame1 > .top > .left > img{
          height: 5vh;
          width: fit-content;
}

.frame1 > .top > .left > input{
          border-radius: 4vw;
          height: 7vh;
          width: fit-content;
          /* border-color: #fff; */
          border: .01vw solid #67676d;
          margin-left: -2vw;
          /* border-style: hidden; */
}

.frame1 > .top > .left > input:hover{
          border-color: #007FFF;
          border: .2vw solid #007FFF;
}

.frame1 > .top > .left > input::placeholder{
          opacity: 50%        ;
          font-weight: 500;
          font-family: "Poppins" , sans-serif;
          justify-content: center;
          display: flex;
          text-align: center;
}



.frame1 > .top > .right > a{
          font-weight: 500;
          margin: 1vw;
          font-size: 1.1vw;
          opacity: 70%;
}

.frame1 > .top > .right > a:hover{
          text-decoration: underline;
          text-decoration-color: #007FFF;
          color: #007FFF;
          text-underline-offset: 0.5vw;
          text-decoration-thickness: 1.6px;
          opacity: 100%;
}

.frame1 > .top > .right > .login{
          border: 1px solid #007FFF ;
          background-color: #007FFF;

          color: #f8f8f8;
          padding: .5vw 2vw;
          border-radius: 2vw;
}

.frame1 > .top > .right > .login:hover{
          background-color: #1164B4;
          color: #f8f8f8;
          text-decoration: none;
}

.frame1 > .top > .right > .host{
          border: 1px solid #007FFF ;
          
          background-color: #f8f8f8;
          color: #212125;
          padding: .5vw 2vw;
          border-radius: 2vw;
          text-align: center;
}

.frame1 > .top > .right > .host:hover{
          background-color: #007FFF;
          text-decoration: none;

          color: #f8f8f8;
}

.frame1 > .top > .right > .forbusiness{
          border: 1px solid #FF4F00 ;
          background-color: #FFE5B4;
          color: #212125;
          padding: .5vw 2vw;
          text-align: center;
          border-radius: 2vw;
}

.frame1 > .top > .right > .forbusiness:hover{
          background-color: #FF8000;
          color: #f8f8f8;
          text-decoration: none;
}

.frame1 > .main{
          display: flex;
          background: #E6E6FA;
          justify-content: space-around;
          margin: 2vw;
          padding: 1vw;
          border-radius: 1vw;
}

.frame1 > .main > .text {
          margin: 5vw;
          margin-top: 10vw;
}


.frame1 > .main > .text > .heading{
          display: flex;
          gap: 1vw;
         align-self: center;
          /* background-color: grey; */
          
}

.frame1 > .main > .text > .heading > h1{
          font-weight: 600;
          font-size: 4vw;
}

.frame1 > .main > .text > .heading > .unlock{
          color: #1164B4;

}

.frame1 > .main > .text > .btn{
          margin-top: 5vw;
          /* text-align: center; */
          

}

.frame1 > .main > .text > .btn>a{
          border: 1px solid  #007FFF;
          background: none;
          padding: 1vw;
          font-size: 1vw;
          font-weight: 600;
          border-radius: 1vw;
          /* cursor: pointer; */
          margin: 1vw;
}

.frame1 > .main > .text > .btn>a {
          color: #007FFF;
}

.frame1 > .main > .text > .btn>a:hover{
          color: #fff;
          background-color: #007FFF;
}

.frame1 > .main > .right{
          display: flex;
          gap: 1vw;
          margin: 4vw;
          /* justify-content: center; */
          /* align-items: center; */
}

.frame1 > .main > .right > .one{
          display: flex;
          flex-direction: column;
          /* justify-content: center; */
          align-items: center;
          gap: 2vh;        
}

.frame1 > .main > .right > .one > .first{
          border: #ffafcc solid 1px;
          padding: 4vw 7vw;
          /* margin: 4vw; */
          background-color: #ffafcc;
          font-weight: 600;
          border-radius: 1vw;
          color: #f8f8f8; 
}

.frame1 > .main > .right > .one > .second{
          border: #cdb4db solid 1px;
          padding: 4vw 7vw;
          /* margin: 4vw; */
          background-color: #cdb4db;
          font-weight: 600;
          border-radius: 1vw;
          color: #f8f8f8;      
}

.frame1 > .main > .right > .one > .third{
          border: #f4a261 solid 1px;
          padding: 4vw 7vw;
          /* margin: 4vw; */
          background-color: #f4a261;
          font-weight: 600;
          border-radius: 1vw;
          color: #f8f8f8;         
}

.frame1 > .main > .right > .two{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 2vh;        
}

.frame1 > .main > .right > .two > .forth{
          border: #a2d2ff solid 1px;
          padding: 6.5vw 6.5vw;
          /* margin: 4vw; */
          background-color: #a2d2ff;
          font-weight: 600;
          border-radius: 1vw;
          color: #f8f8f8; 
}

.frame1 > .main > .right > .two > .fifth{
          border: #e9c46a solid 1px;
          padding: 6.5vw 6.5vw;
          /* margin: 4vw; */
          background-color: #e9c46a;
          font-weight: 600;
          border-radius: 1vw;
          color: #f8f8f8; 
}

/* .marquee { */
          /* margin: 0 auto; */
          /* white-space: nowrap; */
          /* overflow: hidden; */
          /* position: absolute; */
        /* } */
/*          */
        /* .marquee span { */
          /* display: inline-block; */
          /* padding-left: 100%; */
          /* animation: marquee 20s linear infinite; */
        /* } */
/*          */
/*          */
/*          */
/*          */
/*  */
        /* @keyframes marquee { */
          /* 0% { */
            /* transform: translate(0, 0); */
          /* } */
          /* 100% { */
            /* transform: translate(-100%, 0); */
          /* } */
        /* } */

.frame2{
          margin: 2vw;
          border-top: 1px silver solid;
          background: #B9D9EB;
          border-radius: 1vw;
          padding: 1vw;
}

.frame2 .company{
          display: flex;
          gap: 8vw;
          margin: 1vw;
          /* background-color: #d8e2dc;   */
          border-bottom: 1px solid #007FFF;
          padding: 2vw;
}

.frame2 .company img{
          height: 10vh;
          width: auto;
}

.frame2 .containers{
  display: flex;
  justify-content: center;
  gap: 2vw;
  margin: 2vw;
  margin-top: 20vh ;
  
}

.frame2 .containers .cuet img{
  border: 1px solid #007FFF;

  border-radius: 1vw;
  height: 30vh;
  width: 35vw;
}

.frame2 .containers .coding img{
  border: 1px solid #007FFF;

  border-radius: 1vw;
  height: 30vh;
  width: 35vw;
}

.frame2 .containers .before{
  border: 1px solid #212125;
  text-align: center;
  border-radius: 5vw;
  padding: 1vw;
  margin-top: 10vh;
  margin-bottom: 30vh;
  background-color: #ecece5;
  font-weight: 600;

}

.frame2 .containers .before:hover{
  background-color: #007FFF;
  border: 1px solid #007FFF;
  color: #f8f8f8;
}

.frame2 .containers .after{
  border: 1px solid #212125;
  text-align: center;
  border-radius: 5vw;
  padding: 1vw;
  margin-top: 10vh;
  margin-bottom: 30vh;
  background-color: #ecece5;
  font-weight: 600;

}

.frame2 .containers .after:hover{
  background-color: #007FFF;
  border: 1px solid #007FFF;
  color: #f8f8f8;
}

.frame3{
  margin: 2vw;
  background: #f4a261;
  padding: 2vw;
  border-radius: 1vw;
}

.frame3 h1{
  font-weight: 600;
}

.frame3 p{
  opacity: 90%;
}

.frame3 .boxes{
  display: flex;
 
  margin: 2vw;
  gap: 2vw;
}

.frame3 .boxes a{
  display: flex;
  
  flex-direction: column;

  /* align-items: center; */
  border: #fff 1px solid;
  gap: .5vw;
  border-radius: 1vw;
  padding: 1vw;
  background: #F8F8FF;
}

.frame3 .boxes a img{
  height: 20vh;
  width: 15vw;
  border-radius: 1vw;
  text-align: center;
  padding-left: 1vw;
}

.frame3 .boxes a h3{
  font-weight: 600;
  font-size: 1.1vw;
  opacity: 90%;
}

.frame3 .boxes a h3:hover{
  color: #007FFF;
  text-decoration: underline;
}

.frame3 .boxes a p{
  opacity: 80%;
  font-size: .7vw;
}

.frame4{
  margin: 2vw;
  padding: 1vw;
  border-radius: 1vw;
}

.frame4 a{
  display: flex;
  gap: 5vw;
}

.frame4 a img{
  height: 70vh;
  width: 30vw;
}

.frame4 a .text .first{
  color: #212125;
  font-weight: 550;
  font-size: 3vw;
  margin-bottom: -1vw;
}

.frame4 a .text .second{
  color: #007FFF;
  font-weight: 550;
  font-size: 3vw;
}

